@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);

  --fs-small: 0.8125rem;
  --fs-primary: 0.9375rem;
  --fs-secondary: 0.875rem;
  --fs-button: 0.9375rem;
  --fs-heading: 1.375rem;

  --fw-regular: 500;
  --fw-semibold: 700;
  --fw-bold: 900;
}

@media screen and (min-width: 35em) {
  :root {
    --fs-small: 0.875rem;
    --fs-primary: 1rem;
    --fs-secondary: 1rem;
    --fs-heading: 1.75rem;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--paleBlue);
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--fs-primary);
  font-weight: var(--fw-regular);
  color: var(--desaturatedBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-inline: 1.5rem; */
}

main {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  width: 327px;
}

.hero {
  /* width: 100%; */
  margin-bottom: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 8px;
}

h1 {
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  color: var(--darkBlue);
  margin-bottom: 16px;
}

p {
  text-align: center;
  line-height: 25px;
  margin-bottom: 24px;
}

.plan {
  background-color: var(--veryPaleBlue);
  width: 100%;
  height: 80px;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 24px;
}

.plan-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.plan img {
  width: 48px;
  height: 48px;
  background-color: var(--veryPaleBlue);
}

.middle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.middle h2 {
  font-size: var(--fs-secondary);
  font-weight: var(--fw-bold);
  color: var(--darkBlue);
}

.middle p {
  font-size: var(--fs-secondary);
  font-weight: var(--fw-regular);
  margin-bottom: 0;
}

a {
  font-size: var(--fs-small);
  font-weight: var(--fw-semibold);
  color: var(--brightBlue);
}

button {
  width: 100%;
  height: 50px;
  border-radius: 11px;
  border: none;
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--fs-button);
  font-weight: var(--fw-bold);
}

a:hover,
button:hover {
  cursor: pointer;
}

.btnPayment {
  background-color: var(--brightBlue);
  color: var(--veryPaleBlue);
  box-shadow: 0 20px 20px rgba(56, 42, 225, 0.190291);
  margin-bottom: 9px;
}

.btnPayment:hover {
  background-color: var(--desaturatedBlue);
}

.btnCancel {
  background-color: transparent;
  color: var(--desaturatedBlue);
  margin-bottom: 15px;
}

.btnCancel:hover {
  color: var(--darkBlue);
}

@media screen and (min-width: 35em) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }

  main {
    width: 450px;
  }

  .hero {
    margin-bottom: 45px;
  }

  .container {
    padding-inline: 48px;
  }

  p {
    line-height: 26px;
    margin-bottom: 20px;
  }

  .plan {
    height: 98px;
    margin-bottom: 32px;
    padding: 25px 24px;
  }

  .btnCancel {
    margin-bottom: 32px;
  }
}
